<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.DriverComplaintMapper">
  <resultMap id="UserResult" type="User">
    <id column="USER_ID" property="id"/>
    <result column="NICKNAME" property="nickname"/>
  </resultMap>

  <resultMap id="DriverResult" type="Driver">
    <id column="DRIVER_ID" property="id"/>
    <association property="user" resultMap="UserResult"/>
  </resultMap>

  <resultMap id="DriverComplaintResult" type="DriverComplaint">
    <id column="DRIVER_COMPLAINT_ID" property="id"/>
    <result column="COMPLAINT_CONTENT" property="complaintContent"/>
    <result column="TRIP_ORDER_ID" property="tripOrderId"/>
    <association property="driver" resultMap="DriverResult"/>
  </resultMap>


  <insert id="insertDriverComplaint" parameterType="DriverComplaint" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO DRIVER_COMPLAINT (COMPLAINT_CONTENT, DRIVER_ID, TRIP_ORDER_ID)
    VALUES (#{complaintContent},#{driver.id},#{tripOrderId})
  </insert>

  <select id="findById" resultMap="DriverComplaintResult">
    SELECT
      DC.ID DRIVER_COMPLAINT_ID, COMPLAINT_CONTENT, TRIP_ORDER_ID,
      D.ID DRIVER_ID,
      U.ID USER_ID, NICKNAME
    FROM DRIVER_COMPLAINT DC
      LEFT OUTER JOIN DRIVER D ON DC.DRIVER_ID=D.ID
      LEFT JOIN USER U ON D.USER_ID=U.ID
  </select>
</mapper>