<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.DriverBalanceMapper">
  <resultMap id="DriverBalanceResult" type="DriverBalance">
    <id column="ID" property="id"/>
    <result column="ALIPAY_ACCOUNT" property="alipayAccount"/>
    <result column="BALANCE" property="balance"/>
    <result column="DRIVER_ID" property="driverId"/>
  </resultMap>

  <insert id="insertDriverBalance" parameterType="DriverBalance" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO DRIVER_BALANCE (ALIPAY_ACCOUNT,BALANCE,DRIVER_ID)
    VALUES (#{alipayAccount},#{balance},#{driverId})
  </insert>

  <select id="findById" resultMap="DriverBalanceResult">
    SELECT ID,ALIPAY_ACCOUNT,BALANCE,DRIVER_ID
    FROM DRIVER_BALANCE
    WHERE ID=#{id}
  </select>

  <select id="findByDriverId" resultMap="DriverBalanceResult">
    SELECT ID,ALIPAY_ACCOUNT,BALANCE,DRIVER_ID
    FROM DRIVER_BALANCE
    WHERE DRIVER_ID=#{driverId}
  </select>

  <update id="updateBalance">
    UPDATE DRIVER_BALANCE
    SET BALANCE=#{balance}
    WHERE ID=#{id}
  </update>
  <update id="updateAlipayAccount">
    UPDATE DRIVER_BALANCE
    SET ALIPAY_ACCOUNT=#{alipayAccount}
    WHERE ID=#{id}
  </update>
</mapper>