<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.FareMapper">
  <resultMap id="FareRuleResult" type="FareRule">
    <id column="FARE_RULE_ID" property="id"/>
    <result column="INITIAL_PRICE" property="initialPrice"/>
    <result column="INITIAL_MILEAGE" property="initialMileage"/>
    <result column="UNIT_PRICE_PER_KILOMETER" property="unitPricePerKilometer"/>
    <result column="UNIT_PRICE_PER_MINUTE" property="unitPricePerMinute"/>
    <result column="SETUP_TIME" property="setupTime"/>
  </resultMap>

  <resultMap id="FareResult" type="Fare">
    <id column="FARE_ID" property="id"/>
    <result column="LENGTH_OF_MILEAGE" property="lengthOfMileage"/>
    <result column="LENGTH_OF_TIME" property="lengthOfTime"/>
    <association property="fareRule" resultMap="FareRuleResult"/>
  </resultMap>

  <insert id="insertFare" parameterType="Fare" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO FARE (LENGTH_OF_MILEAGE,LENGTH_OF_TIME,FARE_RULE_ID)
    VALUES (#{lengthOfMileage},#{lengthOfMileage},#{fareRule.id})
  </insert>

  <update id="updateFare" parameterType="fare">
    UPDATE FARE
    SET LENGTH_OF_MILEAGE=#{lengthOfMileage},LENGTH_OF_TIME=#{lengthOfTime}
    WHERE FARE.ID=#{id}
  </update>

  <select id="findById" resultMap="FareResult">
    SELECT
      F.ID FARE_ID,LENGTH_OF_MILEAGE,LENGTH_OF_TIME,FARE_RULE_ID,
      FR.ID FARE_RULE_ID,INITIAL_PRICE,INITIAL_MILEAGE,UNIT_PRICE_PER_KILOMETER,UNIT_PRICE_PER_MINUTE,SETUP_TIME
    FROM FARE F
      LEFT OUTER JOIN FARE_RULE FR ON F.FARE_RULE_ID=FR.ID
    WHERE F.ID=#{id}
  </select>
</mapper>