<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gd.orh.mapper.PassengerComplaintMapper" >
  <resultMap id="UserResult" type="User">
    <id column="USER_ID" property="id"/>
    <result column="NICKNAME" property="nickname"/>
  </resultMap>

  <resultMap id="PassengerResult" type="Passenger">
    <id column="PASSENGER_ID" property="id"/>
    <association property="user" resultMap="UserResult"/>
  </resultMap>

  <resultMap id="PassengerComplaintResult" type="PassengerComplaint">
    <id column="PASSENGER_COMPLAINT_ID" property="id"/>
    <result column="RATING_SCORE" property="complaintContent"/>
    <result column="TRIP_ORDER_ID" property="tripOrderId"/>
    <association property="passenger" resultMap="PassengerResult"/>
  </resultMap>

  <insert id="insertPassengerComplaint" parameterType="PassengerComplaint" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO PASSENGER_COMPLAINT (COMPLAINT_CONTENT, PASSENGER_ID, TRIP_ORDER_ID)
    VALUES (#{complaintContent},#{passenger.id},#{tripOrderId})
  </insert>

  <select id="findById" resultMap="PassengerComplaintResult">
    SELECT
      PC.ID PASSENGER_RATING_ID, COMPLAINT_CONTENT, TRIP_ORDER_ID,
      P.ID PASSENGER_ID,
      U.ID USER_ID, NICKNAME
    FROM PASSENGER_COMPLAINT PC
      LEFT OUTER JOIN PASSENGER P ON PC.PASSENGER_ID=P.ID
      LEFT JOIN USER U ON P.USER_ID=U.ID
  </select>
</mapper>