<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.TripMapper">

  <resultMap id="UserResult" type="User">
    <id column="USER_ID" property="id"/>
    <result column="USERNAME" property="username"/>
    <result column="PASSWORD" property="password"/>
    <result column="NICKNAME" property="nickname"/>
    <result column="GENDER" property="gender"/>
    <result column="AGE" property="age"/>
    <result column="ENABLED" property="enabled"/>
    <result column="LAST_PASSWORD_RESET_DATE" property="lastPasswordResetDate" jdbcType="TIMESTAMP"/>
  </resultMap>

  <resultMap id="PassengerResult" type="Passenger">
    <id column="PASSENGER_ID" property="id"/>
    <association property="user" resultMap="UserResult"/>
  </resultMap>

  <resultMap id="TripResult" type="Trip">
    <id column="TRIP_ID" property="id"/>
    <result column="DEPARTURE" property="departure"/>
    <result column="DEPARTURE_LOCATION" property="departureLocation"/>
    <result column="DESTINATION" property="destination"/>
    <result column="DESTINATION_LOCATION" property="destinationLocation"/>
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
    <result column="DEPARTURE_TIME" property="departureTime" jdbcType="TIMESTAMP"/>
    <result column="TRIP_TYPE" property="tripType"/>
    <result column="TRIP_STATUS" property="tripStatus"/>
    <association property="passenger" resultMap="PassengerResult"/>
  </resultMap>

  <insert id="insertTrip" parameterType="Trip" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO TRIP (DEPARTURE, DEPARTURE_LOCATION, DESTINATION, DESTINATION_LOCATION, CREATED_TIME, DEPARTURE_TIME, TRIP_TYPE,TRIP_STATUS, PASSENGER_ID)
    VALUES(#{departure}, #{departureLocation}, #{destination}, #{destinationLocation}, #{createdTime}, #{departureTime}, #{tripType} , #{tripStatus}, #{passenger.id})
  </insert>

  <select id="findById" resultMap="TripResult">
    SELECT
      T.ID TRIP_ID, DEPARTURE, DEPARTURE_LOCATION, DESTINATION, DESTINATION_LOCATION, CREATED_TIME, DEPARTURE_TIME, TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      U.ID USER_ID, USERNAME, PASSWORD, NICKNAME, GENDER, AGE, ENABLED, LAST_PASSWORD_RESET_DATE
    FROM TRIP T
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN USER U ON P.USER_ID=U.ID
    WHERE T.ID=#{id}
  </select>

  <select id="findByTripStatus" resultMap="TripResult">
    SELECT
      T.ID TRIP_ID, DEPARTURE, DEPARTURE_LOCATION, DESTINATION, DESTINATION_LOCATION, CREATED_TIME, DEPARTURE_TIME, TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      U.ID USER_ID, USERNAME, PASSWORD, NICKNAME, GENDER, AGE, ENABLED, LAST_PASSWORD_RESET_DATE
    FROM TRIP T
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN USER U ON P.USER_ID=U.ID
    WHERE T.TRIP_STATUS=#{tripStatus}
    <if test="departureTime != null">
      AND T.DEPARTURE_TIME > #{departureTime}
    </if>
    ORDER BY T.DEPARTURE_TIME
  </select>

  <update id="updateTripStatus">
    UPDATE TRIP T
    SET TRIP_STATUS = #{tripStatus}
    WHERE T.ID = #{id}
  </update>

  <select id="searchPublishedTripsByCondition" resultMap="TripResult">
    SELECT
      T.ID TRIP_ID, DEPARTURE, DEPARTURE_LOCATION, DESTINATION, DESTINATION_LOCATION, CREATED_TIME, DEPARTURE_TIME, TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      U.ID USER_ID, USERNAME, PASSWORD, NICKNAME, GENDER, AGE, ENABLED, LAST_PASSWORD_RESET_DATE
    FROM TRIP T
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN USER U ON P.USER_ID=U.ID
    <choose>
      <when test="tripType == null">
        WHERE T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='REAL_TIME'
        <choose>
          <when test="startDate == null and endDate == null">
            OR (T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='RESERVED' AND T.DEPARTURE_TIME &gt; #{departureTime})
          </when>
          <when test="startDate != null and endDate != null">
            OR (T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='RESERVED' AND T.DEPARTURE_TIME &gt;= #{startDate} AND T.DEPARTURE_TIME &lt;= #{endDate} AND T.DEPARTURE_TIME &gt; #{departureTime})
          </when>
          <when test="startDate != null">
            OR (T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='RESERVED' AND T.DEPARTURE_TIME &gt;= #{startDate} AND T.DEPARTURE_TIME &gt; #{departureTime})
          </when>
          <when test="endDate != null">
            OR (T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='RESERVED' AND T.DEPARTURE_TIME &lt;= #{endDate} AND T.DEPARTURE_TIME &gt; #{departureTime})
          </when>
        </choose>
      </when>
      <when test="tripType == @com.gd.orh.entity.TripType@REAL_TIME">
        WHERE T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='REAL_TIME'
      </when>
      <when test="tripType == @com.gd.orh.entity.TripType@RESERVED">
        WHERE T.TRIP_STATUS='PUBLISHED' AND T.TRIP_TYPE='RESERVED' AND T.DEPARTURE_TIME &gt; #{departureTime}
        <if test="startDate != null">
          AND T.DEPARTURE_TIME &gt; #{startDate}
        </if>
        <if test="endDate != null">
          AND T.DEPARTURE_TIME &lt; #{endDate}
        </if>
      </when>
    </choose>
    ORDER BY T.DEPARTURE_TIME
  </select>
</mapper>