<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.TripOrderMapper">
  <resultMap id="PassengerResult" type="Passenger">
    <id column="PASSENGER_ID" property="id"/>
  </resultMap>
  
  <resultMap id="TripResult" type="Trip">
    <id column="TRIP_ID" property="id"/>
    <result column="DEPARTURE" property="departure"/>
    <result column="DEPARTURE_LOCATION" property="departureLocation"/>
    <result column="DESTINATION" property="destination"/>
    <result column="DESTINATION_LOCATION" property="destinationLocation"/>
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP"/>
    <result column="DEPARTURE_TIME" property="departureTime" jdbcType="TIMESTAMP"/>
    <result column="TRIP_TYPE" property="tripType"/>
    <result column="TRIP_STATUS" property="tripStatus"/>
    <association property="passenger" resultMap="PassengerResult"/>
  </resultMap>

  <resultMap id="DrivingLicenseResult" type="DrivingLicense">
    <id column="DRIVING_LICENSE_ID" property="id"/>
    <result column="DRIVER_NAME" property="driverName"/>
    <result column="IDENTIFICATION" property="identification"/>
    <result column="ISSUE_DATE" property="issueDate" jdbcType="TIMESTAMP"/>
  </resultMap>

  <resultMap id="CarResult" type="Car">
    <id column="CAR_ID" property="id"/>
    <result column="PLATE_NO" property="plateNo"/>
    <result column="BRAND" property="brand"/>
    <result column="SERIES" property="series"/>
    <result column="COLOR" property="color"/>
  </resultMap>

  <resultMap id="VehicleLicenseResult" type="VehicleLicense">
    <id column="VEHICLE_LICENSE_ID" property="id"/>
    <result column="DRIVER_NAME" property="owner"/>
    <result column="REGISTER_DATE" property="registerDate" jdbcType="TIMESTAMP"/>
    <association property="car" resultMap="CarResult"/>
  </resultMap>

  <resultMap id="UserResult" type="User">
    <id column="USER_ID" property="id"/>
    <result column="USERNAME" property="username"/>
    <result column="NICKNAME" property="nickname"/>
  </resultMap>

  <resultMap id="DriverResult" type="Driver">
    <id column="DRIVER_ID" property="id"/>
    <association property="drivingLicense" resultMap="DrivingLicenseResult"/>
    <association property="vehicleLicense" resultMap="VehicleLicenseResult"/>
    <association property="user" resultMap="UserResult"/>
  </resultMap>

  <resultMap id="FareRuleResult" type="FareRule">
    <id column="FARE_RULE_ID" property="id"/>
    <result column="INITIAL_PRICE" property="initialPrice"/>
    <result column="INITIAL_MILEAGE" property="initialMileage"/>
    <result column="UNIT_PRICE_PER_KILOMETER" property="unitPricePerKilometer"/>
    <result column="UNIT_PRICE_PER_MINUTE" property="unitPricePerMinute"/>
    <result column="SETUP_TIME" property="setupTime"/>
  </resultMap>

  <resultMap id="FareResult" type="Fare">
    <id column="FARE_ID" property="id"/>
    <result column="LENGTH_OF_MILEAGE" property="lengthOfMileage"/>
    <result column="LENGTH_OF_TIME" property="lengthOfTime"/>
    <association property="fareRule" resultMap="FareRuleResult"/>
  </resultMap>

  <resultMap id="ServiceRatingResult" type="ServiceRating">
    <id column="PASSENGER_RATING_ID" property="id"/>
    <result column="IS_PASSENGER_RATED" property="isPassengerRated"/>
    <result column="PASSENGER_RATING_SCORE" property="passengerRatingScore"/>
    <result column="PASSENGER_RATING_CONTENT" property="passengerRatingContent"/>
    <result column="IS_DRIVER_RATED" property="isDriverRated"/>
    <result column="DRIVER_RATING_SCORE" property="driverRatingScore"/>
    <result column="DRIVER_RATING_CONTENT" property="driverRatingContent"/>
    <result column="PASSENGER_ID" property="passengerId"/>
    <result column="DRIVER_ID" property="driverId"/>
    <result column="TRIP_ORDER_ID" property="tripOrderId"/>
  </resultMap>

  <resultMap id="TripOrderResult" type="TripOrder">
    <id column="TRIP_ORDER_ID" property="id"/>
    <result column="OUT_TRADE_NO" property="outTradeNo"/>
    <result column="ACCEPTED_TIME" property="acceptedTime" jdbcType="TIMESTAMP"/>
    <result column="COMPLETED_TIME" property="completedTime" jdbcType="TIMESTAMP"/>
    <result column="ORDER_STATUS" property="orderStatus"/>
    <association property="trip" resultMap="TripResult"/>
    <association property="driver" resultMap="DriverResult"/>
    <association property="fare" resultMap="FareResult"/>
    <association property="serviceRating" resultMap="ServiceRatingResult"/>
  </resultMap>

  <insert id="insertTripOrder" parameterType="TripOrder" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO TRIP_ORDER (OUT_TRADE_NO,ACCEPTED_TIME,ORDER_STATUS,TRIP_ID,DRIVER_ID,FARE_ID)
    VALUES(#{outTradeNo},#{acceptedTime},#{orderStatus},#{trip.id},#{driver.id},#{fare.id})
  </insert>

  <update id="updateOrderStatus">
    UPDATE TRIP_ORDER
    SET ORDER_STATUS=#{orderStatus}
    WHERE TRIP_ORDER.ID=#{id}
  </update>

  <select id="findById" resultMap="TripOrderResult">
    SELECT
      T_O.ID TRIP_ORDER_ID,OUT_TRADE_NO,ACCEPTED_TIME,COMPLETED_TIME,ORDER_STATUS,
      SR.ID SERVICE_RATING_ID,IS_PASSENGER_RATIED,PASSENGER_RATING_SCORE,PASSENGER_RATING_CONTENT,IS_DRIVER_RATIED,DRIVER_RATING_SCORE,DRIVER_RATING_CONTENT,
      T.ID TRIP_ID,DEPARTURE,DEPARTURE_LOCATION,DESTINATION,DESTINATION_LOCATION,CREATED_TIME,DEPARTURE_TIME,TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      D.ID DRIVER_ID,
      U.ID USER_ID,USERNAME,NICKNAME,
      DL.ID DRIVING_LICENSE_ID,DRIVER_NAME,IDENTIFICATION,ISSUE_DATE,
      DL.ID VEHICLE_LICENSE_ID,OWNER,REGISTER_DATE,ISSUE_DATE,
      C.ID CAR_ID,PLATE_NO,BRAND,SERIES,COLOR,
      F.ID FARE_ID,LENGTH_OF_MILEAGE,LENGTH_OF_TIME,
      FR.ID FARE_RULE_ID,INITIAL_PRICE,INITIAL_MILEAGE,UNIT_PRICE_PER_KILOMETER,UNIT_PRICE_PER_MINUTE,SETUP_TIME
    FROM TRIP_ORDER T_O
      LEFT OUTER JOIN SERVICE_RATING SR ON SR.TRIP_ORDER_ID=T_O.ID
      LEFT OUTER JOIN TRIP T ON T_O.TRIP_ID=T.ID
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN DRIVER D ON T_O.DRIVER_ID=D.ID
      LEFT OUTER JOIN USER U ON U.ID=D.USER_ID
      LEFT OUTER JOIN DRIVING_LICENSE DL ON D.ID=DL.DRIVER_ID
      LEFT OUTER JOIN VEHICLE_LICENSE VL ON D.ID=VL.DRIVER_ID
      LEFT OUTER JOIN CAR C ON VL.ID=C.VEHICLE_LICENSE_ID
      LEFT OUTER JOIN FARE F ON T_O.FARE_ID=F.ID
      LEFT OUTER JOIN FARE_RULE FR ON F.FARE_RULE_ID=FR.ID
    WHERE T_O.ID=#{id}
  </select>

  <select id="findAllByPassenger" resultMap="TripOrderResult">
    SELECT
      T_O.ID TRIP_ORDER_ID,OUT_TRADE_NO,ACCEPTED_TIME,COMPLETED_TIME,ORDER_STATUS,
      SR.ID SERVICE_RATING_ID,IS_PASSENGER_RATIED,PASSENGER_RATING_SCORE,PASSENGER_RATING_CONTENT,IS_DRIVER_RATIED,DRIVER_RATING_SCORE,DRIVER_RATING_CONTENT,
      T.ID TRIP_ID,DEPARTURE,DEPARTURE_LOCATION,DESTINATION,DESTINATION_LOCATION,CREATED_TIME,DEPARTURE_TIME,TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      D.ID DRIVER_ID,
      U.ID USER_ID,USERNAME,NICKNAME,
      DL.ID DRIVING_LICENSE_ID,DRIVER_NAME,IDENTIFICATION,ISSUE_DATE,
      DL.ID VEHICLE_LICENSE_ID,OWNER,REGISTER_DATE,ISSUE_DATE,
      C.ID CAR_ID,PLATE_NO,BRAND,SERIES,COLOR,
      F.ID FARE_ID,LENGTH_OF_MILEAGE,LENGTH_OF_TIME,
      FR.ID FARE_RULE_ID,INITIAL_PRICE,INITIAL_MILEAGE,UNIT_PRICE_PER_KILOMETER,UNIT_PRICE_PER_MINUTE,SETUP_TIME
    FROM TRIP_ORDER T_O
      LEFT OUTER JOIN SERVICE_RATING SR ON SR.TRIP_ORDER_ID=T_O.ID
      LEFT OUTER JOIN TRIP T ON T_O.TRIP_ID=T.ID
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN DRIVER D ON T_O.DRIVER_ID=D.ID
      LEFT OUTER JOIN USER U ON U.ID=D.USER_ID
      LEFT OUTER JOIN DRIVING_LICENSE DL ON D.ID=DL.DRIVER_ID
      LEFT OUTER JOIN VEHICLE_LICENSE VL ON D.ID=VL.DRIVER_ID
      LEFT OUTER JOIN CAR C ON VL.ID=C.VEHICLE_LICENSE_ID
      LEFT OUTER JOIN FARE F ON T_O.FARE_ID=F.ID
      LEFT OUTER JOIN FARE_RULE FR ON F.FARE_RULE_ID=FR.ID
    WHERE
      P.ID=#{trip.passenger.id} AND T.PASSENGER_ID=P.ID AND T_O.TRIP_ID=T.ID
    ORDER BY
      T.DEPARTURE_TIME DESC
  </select>

  <select id="findAllByDriver" resultMap="TripOrderResult">
    SELECT
      T_O.ID TRIP_ORDER_ID,OUT_TRADE_NO,ACCEPTED_TIME,COMPLETED_TIME,ORDER_STATUS,
      SR.ID SERVICE_RATING_ID,IS_PASSENGER_RATIED,PASSENGER_RATING_SCORE,PASSENGER_RATING_CONTENT,IS_DRIVER_RATIED,DRIVER_RATING_SCORE,DRIVER_RATING_CONTENT,
      T.ID TRIP_ID,DEPARTURE,DEPARTURE_LOCATION,DESTINATION,DESTINATION_LOCATION,CREATED_TIME,DEPARTURE_TIME,TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      D.ID DRIVER_ID,
      U.ID USER_ID,USERNAME,NICKNAME,
      DL.ID DRIVING_LICENSE_ID,DRIVER_NAME,IDENTIFICATION,ISSUE_DATE,
      DL.ID VEHICLE_LICENSE_ID,OWNER,REGISTER_DATE,ISSUE_DATE,
      C.ID CAR_ID,PLATE_NO,BRAND,SERIES,COLOR,
      F.ID FARE_ID,LENGTH_OF_MILEAGE,LENGTH_OF_TIME,
      FR.ID FARE_RULE_ID,INITIAL_PRICE,INITIAL_MILEAGE,UNIT_PRICE_PER_KILOMETER,UNIT_PRICE_PER_MINUTE,SETUP_TIME
    FROM TRIP_ORDER T_O
      LEFT OUTER JOIN SERVICE_RATING SR ON SR.TRIP_ORDER_ID=T_O.ID
      LEFT OUTER JOIN TRIP T ON T_O.TRIP_ID=T.ID
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN DRIVER D ON T_O.DRIVER_ID=D.ID
      LEFT OUTER JOIN USER U ON U.ID=D.USER_ID
      LEFT OUTER JOIN DRIVING_LICENSE DL ON D.ID=DL.DRIVER_ID
      LEFT OUTER JOIN VEHICLE_LICENSE VL ON D.ID=VL.DRIVER_ID
      LEFT OUTER JOIN CAR C ON VL.ID=C.VEHICLE_LICENSE_ID
      LEFT OUTER JOIN FARE F ON T_O.FARE_ID=F.ID
      LEFT OUTER JOIN FARE_RULE FR ON F.FARE_RULE_ID=FR.ID
    WHERE
      T_O.DRIVER_ID=#{driver.id}
    ORDER BY
      T_O.ACCEPTED_TIME DESC
  </select>

  <select id="findByOutTradeNo" resultMap="TripOrderResult">
    SELECT
      T_O.ID TRIP_ORDER_ID,OUT_TRADE_NO,ACCEPTED_TIME,COMPLETED_TIME,ORDER_STATUS,
      SR.ID SERVICE_RATING_ID,IS_PASSENGER_RATIED,PASSENGER_RATING_SCORE,PASSENGER_RATING_CONTENT,IS_DRIVER_RATIED,DRIVER_RATING_SCORE,DRIVER_RATING_CONTENT,
      T.ID TRIP_ID,DEPARTURE,DEPARTURE_LOCATION,DESTINATION,DESTINATION_LOCATION,CREATED_TIME,DEPARTURE_TIME,TRIP_TYPE,TRIP_STATUS,
      P.ID PASSENGER_ID,
      D.ID DRIVER_ID,
      U.ID USER_ID,USERNAME,NICKNAME,
      DL.ID DRIVING_LICENSE_ID,DRIVER_NAME,IDENTIFICATION,ISSUE_DATE,
      DL.ID VEHICLE_LICENSE_ID,OWNER,REGISTER_DATE,ISSUE_DATE,
      C.ID CAR_ID,PLATE_NO,BRAND,SERIES,COLOR,
      F.ID FARE_ID,LENGTH_OF_MILEAGE,LENGTH_OF_TIME,
      FR.ID FARE_RULE_ID,INITIAL_PRICE,INITIAL_MILEAGE,UNIT_PRICE_PER_KILOMETER,UNIT_PRICE_PER_MINUTE,SETUP_TIME
    FROM TRIP_ORDER T_O
      LEFT OUTER JOIN SERVICE_RATING SR ON SR.TRIP_ORDER_ID=T_O.ID
      LEFT OUTER JOIN TRIP T ON T_O.TRIP_ID=T.ID
      LEFT OUTER JOIN PASSENGER P ON T.PASSENGER_ID=P.ID
      LEFT OUTER JOIN DRIVER D ON T_O.DRIVER_ID=D.ID
      LEFT OUTER JOIN USER U ON U.ID=D.USER_ID
      LEFT OUTER JOIN DRIVING_LICENSE DL ON D.ID=DL.DRIVER_ID
      LEFT OUTER JOIN VEHICLE_LICENSE VL ON D.ID=VL.DRIVER_ID
      LEFT OUTER JOIN CAR C ON VL.ID=C.VEHICLE_LICENSE_ID
      LEFT OUTER JOIN FARE F ON T_O.FARE_ID=F.ID
      LEFT OUTER JOIN FARE_RULE FR ON F.FARE_RULE_ID=FR.ID
    WHERE T_O.OUT_TRADE_NO=#{outTradeNo}
  </select>

  <update id="updateCompletedTime">
    UPDATE TRIP_ORDER
    SET COMPLETED_TIME=#{completedTime}
    WHERE TRIP_ORDER.ID=#{id}
  </update>
</mapper>