<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.UserMapper">
  <resultMap id="AuthorityResult" type="com.gd.orh.entity.Authority">
    <id column="Authority_ID" property="id"/>
    <result column="NAME" property="name"/>
  </resultMap>
  <resultMap id="PassengerResult" type="com.gd.orh.entity.Passenger">
    <id column="PASSENGER_ID" property="id"/>
  </resultMap>
  <resultMap id="DriverResult" type="com.gd.orh.entity.Driver">
    <id column="DRIVER_ID" property="id"/>
  </resultMap>
  
  <resultMap id="UserResult" type="com.gd.orh.entity.User">
    <id column="USER_ID" property="id"/>
    <result column="USERNAME" property="username"/>
    <result column="PASSWORD" property="password"/>
    <result column="NICKNAME" property="nickname"/>
    <result column="GENDER" property="gender"/>
    <result column="AGE" property="age"/>
    <result column="ENABLED" property="enabled"/>
    <result column="LAST_PASSWORD_RESET_DATE" property="lastPasswordResetDate" jdbcType="TIMESTAMP"/>
    <collection property="authorities" resultMap="AuthorityResult"/>
  </resultMap>
</mapper>