<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.orh.mapper.VehicleLicenseMapper">
  <resultMap id="DriverResult" type="Driver">
    <id column="DRIVER_ID" property="id"/>
    <result column="DRIVER_STATUS" property="driverStatus"/>
  </resultMap>

  <resultMap id="CarResult" type="Car">
    <id column="CAR_ID" property="id"/>
    <result column="PLATE_NO" property="PlateNo"/>
    <result column="BRAND" property="brand"/>
    <result column="SERIES" property="series"/>
    <result column="COLOR" property="color"/>
  </resultMap>

  <resultMap id="VehicleLicenseResult" type="VehicleLicense">
    <id column="VEHICLE_LICENSE_ID" property="id"/>
    <result column="DRIVER_NAME" property="owner"/>
    <result column="REGISTER_DATE" property="registerDate" jdbcType="TIMESTAMP"/>
    <association property="car" resultMap="CarResult"/>
    <association property="driver" resultMap="DriverResult"/>
  </resultMap>

  <insert id="insertVehicleLicense" parameterType="vehicleLicense" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO VEHICLE_LICENSE (OWNER, REGISTER_DATE, DRIVER_ID)
    VALUES (#{owner},#{registerDate},#{driver.id})
  </insert>
</mapper>